
body {
    padding-top: 15px;
    background-color: beige;
}

.border {
    border: 1px solid #999;
}

label {
    margin-right: 10px;
}

button {
    width: 100%;
}

.clear-bottom {
    margin-bottom: 20px;
}

.table {
    margin-top: 20px;
}

